# .env.example

POSTGRES_URL="postgresql://neondb_owner:***YourNeonURL***sslmode=require&channel_binding=require"

AUTH_SECRET="6m***YourRandomKey***E="

RESEND_API_KEY="re_***YourAPI***"

NEXTAUTH_URL=""
NEXT_PUBLIC_APP_URL=""
NEXTAUTH_SECRET="4GQ***YourSecret***k="
BLOB_READ_WRITE_TOKEN="vercel_blob_***YourToken***"

TMDB_API_KEY="8cb2***YourTmdbAPI***e9"
TMDB_IMAGE_BASE_URL="https://image.tmdb.org"